/* Estilos generales */
body {
  background-color: #000000;
  color: #ffffff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  object-fit: cover;
}

.container {
  margin: 50px auto;
  max-width: 800px;
  text-align: center;
}

h1 {
  font-size: 32px;
  color: white;
}

section {
  margin-bottom: 20px;
}

/* Estilos para la barra de navegación */
.navbar {
  background-color: #d196d1;
  overflow: hidden;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  animation: fadeInDown 1s ease-in-out;
}

.navbar li {
  margin: 0 10px;
}

.navbar a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 18px;
  text-transform: uppercase;
  transition: color 0.3s ease-in-out;
}

.navbar a:hover {
  color: #ffcaf6;
}

/* Estilos para el cuerpo */
.productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  animation: fadeInUp 1s ease-in-out;
}

.producto {
  width: 19rem;
  margin: 20px;
  padding: 20px;
  background-color: #ca76c6;
  border: solid 1px black;
  border-radius: 10%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.producto:hover {
  transform: translateY(-5px);
  background-color: #dd8cd9ec;
  cursor: pointer;
}

.producto img {
  max-width: 20rem;
  max-height: 28rem;
  height: 15rem;
  width: 25rem;
  margin-bottom: 10px;
  transform: translateX(-7px);
}

.precio {
  font-weight: bold;
  font-size: 18px;
}

/* Estilos para el footer */
footer {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  padding: 20px;
  animation: fadeInUp 1s ease-in-out;
}

/* Implementación de diseño responsivo */
@media screen and (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }

  .navbar ul {
    flex-direction: column;
  }

  .navbar li {
    margin: 10px 0;
  }

  .productos {
    flex-direction: column;
    align-items: center;
  }

  .producto {
    width: 100%;
  }
}